---
type: pull_request
number: 965
title: "[WIP] SPM-1496: Post test results"
state: closed
author: digitronik
created: 2022-05-31T11:45:33Z
updated: 2022-10-14T11:40:50Z
closed: 2022-10-14T11:40:50Z
base_branch: master
head_branch: post_results
labels: []
url: https://github.com/RedHatInsights/patchman-engine/pull/965
---

# Pull Request #965: [WIP] SPM-1496: Post test results

**Author**: @digitronik
**Created**: May 31, 2022 at 11:45 AM UTC
**Status**: Closed
**Labels**: None
**Base**: `master` ← **Head**: `post_results`

## Description

## Secure Coding Practices Checklist GitHub Link
- https://github.com/RedHatInsights/secure-coding-checklist

## Secure Coding Checklist
- [ ] Input Validation
- [ ] Output Encoding
- [ ] Authentication and Password Management
- [ ] Session Management
- [x] Access Control
- [x] Cryptographic Practices
- [x] Error Handling and Logging
- [x] Data Protection
- [x] Communication Security
- [x] System Configuration
- [x] Database Security
- [x] File Management
- [ ] Memory Management
- [ ] General Coding Practices


---

## Discussion

### Comment by @InsightsDroid on May 31, 2022 at 12:01 PM UTC

Test results are available in [Ibutsu](https://url.corp.redhat.com/ibutsu-runs). The test run IDs are:
73f8e9f0-135b-4e9f-bcc4-e80f9cf3d87e
d0cbeeb9-f158-4a73-8b90-ab30f38fc05c

### Comment by @jira-linking on July 04, 2022 at 09:16 AM UTC

Referenced Jiras:
https://issues.redhat.com/browse/SPM-1496


### Comment by @digitronik on July 05, 2022 at 04:47 PM UTC

/retest

### Comment by @psegedy on October 14, 2022 at 11:40 AM UTC

closing as there does not seem to be any progress, feel free to reopen it

---

*Archived from: https://github.com/RedHatInsights/patchman-engine/pull/965*
